* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: auto;
    margin: auto;

}

nav{
    padding: 1rem;
    background-color: rgba(107, 152, 220, 0.90); 
    position: relative;
    height: 70px;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.nav-con .logo {
    flex: 1;
    display: flex;
    position: relative; 
    padding: 0px;
    top: -8px;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;   
    position: relative;
}

.menu li {
    margin: 0 1.3rem; 
    padding: 2px;
    position: relative; 
    display: flex;
    align-items: center; 
    top: -6.5px; 
    
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding-left: 30px;
    width: 20%;
    position: relative;
    left: 30%; 
}

.container-title-line .vote-suc h3 {
    color: rgba(49, 47, 153, 1);
    font-size: 80px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    left: 460px; 
    top: 220px; 
    position: relative; 
}

.bottom {
    list-style: none;
    align-items: center;   
    position: relative;
    left: 670px; 
    top: 300px; 
}

.bottom li a {
    background-color: rgba(1, 95, 199, 1);
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}

footer{
    padding: 1rem;
    background-color: rgba(27, 87, 176, 1); 
    position: relative;
    height: 270px;
    top: 39rem;
}

@media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
}
  
.footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
}
  
@media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
}
  
@media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
}

.col-sm-4-col-md-3-item-1 h3{
    text-decoration: none;
    color: rgba(137, 194, 255, 1);
    font-size: 22px;

}

.col-sm-4-col-md-3-item-1 ul{
    list-style: none;
}

.col-sm-4-col-md-3-item-1 a{
    text-decoration: none;
    color: white; 
    position: relative;
    font-size: 18px;
    list-style: none;
}

.col-sm-4-col-md-3-item-2 {
    list-style: none;
}

.col-sm-4-col-md-3-item-2 h3 {
    text-decoration: none;
    color: rgba(137, 194, 255, 1);
    font-size: 22px;
}

.col-sm-4-col-md-3-item-2 ul{
    list-style: none;
}

.col-sm-4-col-md-3-item-2 a{
    text-decoration: none;
    color: white; 
    position: relative;
    font-size: 18px;
    list-style: none;
}

.col-sm-4-col-md-3-item-3 h3{
    text-decoration: none;
    color: rgba(137, 194, 255, 1);
    font-size: 22px;
}

.col-sm-4-col-md-3-item-3 ul{
    list-style: none;
}

.col-sm-4-col-md-3-item-3 a{
    text-decoration: none;
    color: white; 
    position: relative;
    font-size: 18px;
}

.row-justify-content-center {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    align-items: center;
}
  
.col-lg-3-item-social {
    display: flex;
    justify-content: center;
    margin-top: 35px;

}

  

